@use "function.scss" as f;

@mixin article-card($color,$border-color,$font-size: 1rem) {
    color: $color;
    padding: 1rem;
    font-size: $font-size;
 }

h1 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 1rem;
    & h2 {
        @extend h1;
        padding: 1rem;
        border: 1px solid red;
    }
}
